---
import Layout from '../layouts/Layout.astro';
import Summary from '../components/Summary.astro';
import GetInTouch from "../components/ContactMe.astro";
import Featured from "../components/Featured.astro";
---

<Layout title="Raquel Jackson">
	<Summary />

	<div id="main">
	</div>

</Layout>

<style>
</style>
