---
import Layout from '../layouts/Layout.astro';
import Summary from '../components/Summary.astro';
---

<Layout title="Raquel Jackson">
	<Summary />

	<div id="main">
		Test
	</div>

</Layout>

<style>
</style>
