---

import Footer from "./Footer.astro";
---

<header id="header">
    <div class="inner">
        <h1>
            Hi there! <br />
            My name is <span class="text-gradient">Raquel Jackson</span><br />
            I&apos;m fullstack developer<br />
        </h1>

        <br/>

        <ul class="actions">
            <li>
                <a href="https://www.buymeacoffee.com/rj4ck" target="_blank">
                    <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 3.15em !important;width: 10em !important;" >
                </a>
            </li>

            <li>
                <a class="button" href="../assets/Resume.pdf" download="raquel_jackson.pdf">
                    Curriculum
                </a>
            </li>


        </ul>


    </div>
    <Footer />
</header>
